<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wsparticle_02.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{128,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wsparticle_03.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{128,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{128,0},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wsparticle_07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,128},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wsparticle_08.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{128,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{64,128},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wsparticle_fodder65.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{128,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,256},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wsparticle_star04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{128,256},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wsparticle_star07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,256}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{256,256}</string>
				<key>spriteSourceSize</key>
				<string>{256,256}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,384},{256,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wsparticle_star08.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,256}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{256,256}</string>
				<key>spriteSourceSize</key>
				<string>{256,256}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,640},{256,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>particle.png</string>
				<key>textureFileName</key>
				<string>particle</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
